.ui-widget { 
	font-size: 0.8em; 
}

html, body {
/*	height: 100%;*/
/*	margin: 5px;*/
/*	overflow: hidden;*/
	background: #EFEFEF;
}

header {
	height: 120px;
}

nav {
	position:absolute;
	right: 20px;
	top: 50px;
}

#cwrcTabs {

}

#cwrcLogo {
	background-image:url("../img/CWRC_logo_text_large.png");
	width:640px;
	height:115px;
}

#cwrcSearchBar {
	position: absolute;
	left: 680px;
	top: 45px;
	min-width:250px;
	vertical-align:middle;
}

.cwrcCloseTabButton {
	display:inline-block;
	cursor: pointer
}


.cwrcSearchQueryResults {
	width:100%;
	margin:0px auto;
/*	border: 1px solid black;*/
}

.cwrcSearchQueryResults tr{
	height:1em;
}

.cwrcEditor { 
	width:100%;
	height:100%;
/*	margin:0px;
	padding:0px;
*/
}

/*
#cwrcLogo {
	width:175px;
	height:103px;
	float:left;
	background-image:url("../img/CWRC_logo_v075_small.png");
}

#cwrcSearchBar {
	float:left;
}

.cwrcEditor { 
	width:100%;
	margin:0px;
	padding:0px;
}

nav {
	float:right;
	clear: right;
}

html, body {
	background:#FAFAFA;
	margin: 10px 10px 0px 10px;
}



.cwrcNotifications {
	width:50%;
}

.cwrcNotifications thead tr {
	text-align:left;
}

#content {
	float:left;
	width:100%;
}
*/